@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.btn {
    width: 100%;
    border: 1px solid $color-main;
}