@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.root {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 100%;
    padding: 5px 10px;
    color: $color-main;

    @include hfa {
        border: 1px solid #0f0f0f;
        outline: none;
    }
}