.bg {
    background: url('../../assets/img/smoking.jpg') center no-repeat !important;
    background-size: cover !important;
    min-height: 580px !important;
}

.nobg {
    background: rgba(0, 0, 0, 0) !important;
}